[Unit]
Description=JIRA
Before=jira-discovery.service
After=docker.service
After=flanneld.service
Wants=jira-discovery.service
Requires=docker.service
Requires=flanneld.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill jira
ExecStartPre=-/usr/bin/docker rm jira
ExecStartPre=-/usr/bin/docker pull registry.wuvt.vt.edu/jira
ExecStart=/usr/bin/docker run --name=jira -p 8001:8080 --env X_PROXY_PORT=443 --env X_PROXY_SCHEME=https --volume=/media/local-storage/jira-data:/var/atlassian/jira --volume=/media/local-storage/jira-logs:/opt/atlassian/jira/logs --dns=192.168.0.243 registry.wuvt.vt.edu/jira
ExecStop=/usr/bin/docker stop jira
RestartSec=60s
Restart=always

[X-Fleet]
MachineID=8c2d132dbb39496caf06571273d44538
