[Unit]
Description=metadater production
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill metadater-prod
ExecStartPre=-/usr/bin/docker rm metadater-prod
ExecStartPre=-/usr/bin/docker pull registry.wuvt.vt.edu/metadater
ExecStartPre=/usr/bin/mkdir -p /run/wuvt/metadater-prod
ExecStartPre=/bin/sh -c "etcdctl --no-sync get /wuvt.vt.edu/config/metadater-prod > /run/wuvt/metadater-prod/config.json"
ExecStart=/usr/bin/docker run --name=metadater-prod --env=APP_CONFIG_PATH=/data/config/config.json --volume=/run/wuvt/metadater-prod:/data/config --volume=/usr/share/zoneinfo/America/New_York:/etc/localtime registry.wuvt.vt.edu/metadater
ExecStop=/usr/bin/docker stop metadater-prod
RestartSec=10
Restart=always

[X-Fleet]
MachineMetadata=shared-storage=yes
