[Unit]
Description=Announce musicbrainz-redis-store
BindsTo=musicbrainz-redis-store.service
After=musicbrainz-redis-store.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl --no-sync set /skydns/local/skydns/prod/redis/musicbrainz-redis-store '{\"host\":\"'$(docker inspect musicbrainz-redis-store | jq -r '.[0].NetworkSettings.IPAddress')'\",\"ttl\":60}';sleep 45;done"
ExecStop=/usr/bin/etcdctl --no-sync rm /skydns/local/skydns/prod/redis/musicbrainz-redis-store

[X-Fleet]
MachineOf=musicbrainz-redis-store.service
