[Unit]
Requires=flanneld.service
After=flanneld.service
Wants=musicbrainz-redis-store-discovery.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill musicbrainz-redis-store
ExecStartPre=-/usr/bin/docker rm musicbrainz-redis-store
ExecStart=/usr/bin/docker run --name=musicbrainz-redis-store --volume=/media/local-storage/musicbrainz-redis-store-data:/data redis:3.2-alpine --appendonly yes
ExecStop=/usr/bin/docker stop musicbrainz-redis-store
Restart=always

[X-Fleet]
#MachineID=e1a9b18fc91245ca93b2b4ca28793712
MachineID=aec502922f374ff8bf8b6456f0869a41
