[Unit]
Requires=flanneld.service
After=flanneld.service
Wants=postgres-discovery.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill postgres
ExecStartPre=-/usr/bin/docker rm postgres
ExecStartPre=-/usr/bin/docker pull registry.wuvt.vt.edu/postgres
ExecStart=/usr/bin/docker run --name=postgres --env-file=/media/local-storage/postgres.env --volume=/media/local-storage/postgres-data:/var/lib/postgresql/data registry.wuvt.vt.edu/postgres:9.5
ExecStop=/usr/bin/docker stop postgres
Restart=always

[X-Fleet]
MachineID=e1a9b18fc91245ca93b2b4ca28793712
