[Unit]
Description=Postgres backup service
Requires=postgres.service
After=postgres.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill postgres-backup
ExecStartPre=-/usr/bin/docker rm postgres-backup
ExecStartPre=-/usr/bin/docker pull registry.wuvt.vt.edu/postgres-backup
ExecStart=/usr/bin/docker run --name=postgres-backup --link=postgres:postgres --env-file=/media/local-storage/postgres.env --volume=/home/core/pgdump:/data registry.wuvt.vt.edu/postgres-backup

[X-Fleet]
MachineOf=postgres.service
