[Unit]
Description=Announce postgres
BindsTo=postgres.service
After=postgres.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl --no-sync set /skydns/local/skydns/prod/postgres '{\"host\":\"'$(docker inspect postgres | jq -r '.[0].NetworkSettings.IPAddress')'\",\"ttl\":60}';sleep 45;done"
ExecStop=/usr/bin/etcdctl --no-sync rm /skydns/local/skydns/prod/postgres

[X-Fleet]
MachineOf=postgres.service
