[Unit]
Description=Postgres backup service
Requires=postgres.service
After=postgres.service

[Timer]
OnCalendar=02:00
Persistent=true

[X-Fleet]
MachineOf=postgres.service
