[Unit]
Requires=docker.service
After=docker.service
Wants=registry-discovery.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill registry
ExecStartPre=-/usr/bin/docker rm registry
ExecStartPre=-/usr/bin/docker pull registry
ExecStart=/usr/bin/docker run -p 5000:5000 --name registry -v /media/local-storage/registry-data:/var/lib/registry -v /media/local-storage/registry-auth:/auth -v /media/local-storage/registry-ssl:/certs -e "REGISTRY_AUTH=htpasswd" -e "REGISTRY_AUTH_HTPASSWD_REALM=Docker Registry" -e "REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd" -e "REGISTRY_HTTP_TLS_CERTIFICATE=/certs/cert.pem" -e "REGISTRY_HTTP_TLS_KEY=/certs/privkey.pem" registry:2
ExecStop=/usr/bin/docker stop registry
Restart=always

[X-Fleet]
MachineID=aec502922f374ff8bf8b6456f0869a41
