[Unit]
Description=Announce wuvt-site-redis-prod
BindsTo=wuvt-site-redis-prod.service
After=wuvt-site-redis-prod.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl --no-sync set /skydns/local/skydns/prod/redis/wuvt-site-prod '{\"host\":\"'$(docker inspect wuvt-site-redis-prod | jq -r '.[0].NetworkSettings.IPAddress')'\",\"ttl\":60}';sleep 45;done"
ExecStop=/usr/bin/etcdctl --no-sync rm /skydns/local/skydns/prod/redis/wuvt-site-prod

[X-Fleet]
MachineOf=wuvt-site-redis-prod.service
