[Unit]
Description=Configure services for wuvt-site production
After=etcd2.service
Before=wuvt-site-prod@%i.service
Before=wuvt-site-celery-prod@%i.service
Wants=wuvt-site-prod@%i.service
Wants=wuvt-site-celery-prod@%i.service
Requires=etcd2.service

[Service]
ExecStart=/usr/bin/sh -c "\
    value=$(</run/wuvt-site-prod-services.json); \
    while true; do \
        database_url=$(/usr/bin/etcdctl --no-sync get /services/postgres/postgres); \
        [ -z \"$database_url\" ] && exit 1; \
        redis_url=$(/usr/bin/etcdctl --no-sync get /services/redis/wuvt-site-prod); \
        [ -z \"$redis_url\" ] && exit 2; \
        new_value='{\"database_url\": \"'$database_url'\",\"redis_url\": \"'$redis_url'\"}'; \
        if [ -z \"$value\" ]; then \
            value=$new_value; \
            /usr/bin/echo $value > /run/wuvt-site-prod-services.json; \
        elif [[ \"$value\" != \"$new_value\" ]]; then \
            value=$new_value; \
            /usr/bin/echo $value > /run/wuvt-site-prod-services.json; \
            exit 3; \
        fi; \
        /usr/bin/etcdctl --no-sync watch --recursive /services; \
    done"
RestartSec=30s
Restart=always

[X-Fleet]
Conflicts=wuvt-site-prod-pre@*.service
