[Unit]
Description=Announce wuvt-site-redis-prod
BindsTo=wuvt-site-redis-prod.service
After=wuvt-site-redis-prod.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl --no-sync set /services/redis/wuvt-site-prod 'redis://'$(docker inspect wuvt-site-redis-prod | jq -r '.[0].NetworkSettings.IPAddress')':6379' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl --no-sync rm /services/redis/wuvt-site-prod

[X-Fleet]
MachineOf=wuvt-site-redis-prod.service
