[Unit]
Description=wuvt-site production
Before=wuvt-site-prod-discovery@%i.service
After=docker.service
After=flanneld.service
Wants=wuvt-site-prod-discovery@%i.service
Requires=docker.service
Requires=flanneld.service
ConditionPathExists=/run/wuvt-site-prod-services.json

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill wuvt-site-prod
ExecStartPre=-/usr/bin/docker rm wuvt-site-prod
ExecStartPre=-/usr/bin/docker pull registry.wuvt.vt.edu/wuvt-site
ExecStart=/usr/bin/docker run --read-only --name=wuvt-site-prod -p 8443:8443 --volume=/home/core/wuvt-data/config:/data/config --volume=/run/wuvt-site-prod-services.json:/data/config/services.json --volume=/media/website-media-prod:/data/media --volume=/home/core/wuvt-data/ssl:/data/ssl wuvt-site
ExecStop=/usr/bin/docker stop wuvt-site-prod
Restart=always

[X-Fleet]
Conflicts=wuvt-site-prod@*.service
