[Unit]
Description=wuvt-site celery production
After=docker.service
After=flanneld.service
Requires=docker.service
Requires=flanneld.service
ConditionPathExists=/run/wuvt-site-prod-services.json

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill wuvt-site-celery-prod
ExecStartPre=-/usr/bin/docker rm wuvt-site-celery-prod
ExecStartPre=-/usr/bin/docker pull registry.wuvt.vt.edu/wuvt-site-celery
ExecStart=/usr/bin/docker run --read-only --name=wuvt-site-celery-prod --volume=/home/core/wuvt-data/config:/data/config --volume=/run/wuvt-site-prod-services.json:/data/config/services.json wuvt-site-celery
ExecStop=/usr/bin/docker stop wuvt-site-celery-prod
Restart=always

[X-Fleet]
Conflicts=wuvt-site-celery-prod@*.service
