[Unit]
Description=Announce wuvt-site-redis-am
BindsTo=wuvt-site-redis-am.service
After=wuvt-site-redis-am.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl --no-sync set /skydns/local/skydns/prod/redis/wuvt-site-am '{\"host\":\"'$(docker inspect wuvt-site-redis-am | jq -r '.[0].NetworkSettings.IPAddress')'\",\"ttl\":60}';sleep 45;done"
ExecStop=/usr/bin/etcdctl --no-sync rm /skydns/local/skydns/prod/redis/wuvt-site-am

[X-Fleet]
MachineOf=wuvt-site-redis-am.service
