[Unit]
Description=wuvt-site celery AM
After=docker.service
After=flanneld.service
After=wuvt-site-am-pre@%i.service
Requires=docker.service
Requires=flanneld.service
Requires=wuvt-site-am-pre@%i.service
BindsTo=wuvt-site-am-pre@%i.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill wuvt-site-celery-am
ExecStartPre=-/usr/bin/docker rm wuvt-site-celery-am
ExecStartPre=-/usr/bin/docker pull registry.wuvt.vt.edu/wuvt-site-celery
ExecStart=/usr/bin/docker run --read-only --name=wuvt-site-celery-am --volume=/media/local-storage/wuvt-site-am-config:/data/config --volume=/run/wuvt-site-am-services.json:/data/config/services.json registry.wuvt.vt.edu/wuvt-site-celery
ExecStop=/usr/bin/docker stop wuvt-site-celery-am
RestartSec=60s
Restart=always

[X-Fleet]
Conflicts=wuvt-site-celery-am@*.service
MachineOf=wuvt-site-am-pre@%i.service
