[Unit]
Description=Update wuvt-site-prod config
After=etcd2.service
Requires=etcd2.service

[Service]
ExecStart=/usr/bin/sh -c "\
    while true; do \
          /usr/bin/echo '{\"database_url\": \"'$(/usr/bin/etcdctl --no-sync get /services/postgres/postgres)'\",\"redis_url\": \"'$(/usr/bin/etcdctl --no-sync get /services/redis/wuvt-site-prod)'\"}' > /run/wuvt-site-prod-services.json; \
          /usr/bin/etcdctl --no-sync watch --recursive /services; \
    done"

[X-Fleet]
Global=true
