[Unit]
Description=Announce wuvt-site production
BindsTo=wuvt-site-prod@%i.service
After=wuvt-site-prod@%i.service

[Service]
Environment="ETCDCTL_CERT_FILE=/etc/ssl/etcd/%H.pem"
Environment="ETCDCTL_KEY_FILE=/etc/ssl/etcd/%H-key.pem"
Environment="ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem"
ExecStart=/bin/sh -c "while true; do etcdctl set /traefik/backends/wuvt-site-prod/servers/%i/weight 10 --ttl 60;etcdctl set /traefik/backends/wuvt-site-prod/servers/%i/url 'https://%H.wuvt.vt.edu:8443' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm --recursive /traefik/backends/wuvt-site-prod/servers/%i

[X-Fleet]
MachineOf=wuvt-site-prod@%i.service
