[Unit]
Description=wuvt-site production
After=docker.service
After=flanneld.service
Requires=docker.service
Requires=flanneld.service

[Service]
Environment="ETCDCTL_CERT_FILE=/etc/ssl/etcd/%H.pem"
Environment="ETCDCTL_KEY_FILE=/etc/ssl/etcd/%H-key.pem"
Environment="ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem"
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill wuvt-site-prod
ExecStartPre=-/usr/bin/docker rm wuvt-site-prod
#ExecStartPre=-/usr/bin/docker pull wuvt-site
ExecStart=/bin/sh -c "/usr/bin/docker run --read-only --name=wuvt-site-prod -p 8443:8443 --env=\"REDIS_URL=$(etcdctl get '/services/redis/wuvt-site-prod')\" --volume=/home/core/wuvt-data/config:/data/config --volume=/media/website-media-prod:/data/media --volume=/home/core/wuvt-data/ssl:/data/ssl wuvt-site"
ExecStop=/usr/bin/docker stop wuvt-site-prod
Restart=always

[X-Fleet]
Conflicts=wuvt-site-prod@*.service
