[Unit]
Description=wuvt-site celery AM
After=docker.service
After=flanneld.service
Requires=docker.service
Requires=flanneld.service

[Service]
Environment="ETCDCTL_CERT_FILE=/etc/ssl/etcd/%H.pem"
Environment="ETCDCTL_KEY_FILE=/etc/ssl/etcd/%H-key.pem"
Environment="ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem"
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill wuvt-site-celery-am
ExecStartPre=-/usr/bin/docker rm wuvt-site-celery-am
#ExecStartPre=-/usr/bin/docker pull wuvt-site-celery
ExecStart=/bin/sh -c "/usr/bin/docker run --read-only --name=wuvt-site-celery-am --env=\"DATABASE_URL=$(etcdctl get '/services/postgres/postgres')\" --env=\"REDIS_URL=$(etcdctl get '/services/redis/wuvt-site-am')\" --volume=/home/core/wuvt-am-data/config:/data/config wuvt-site-celery"
ExecStop=/usr/bin/docker stop wuvt-site-celery-am
Restart=always

[X-Fleet]
Conflicts=wuvt-site-celery-am@*.service
