[Unit]
Description=wuvt-site production
Before=wuvt-site-prod-discovery@%i.service
After=docker.service
After=flanneld.service
Wants=wuvt-site-prod-discovery@%i.service
Requires=docker.service
Requires=flanneld.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill wuvt-site-prod
ExecStartPre=-/usr/bin/docker rm wuvt-site-prod
ExecStartPre=-/usr/bin/docker pull registry.wuvt.vt.edu/wuvt-site
ExecStartPre=/usr/bin/mkdir -p /run/wuvt/wuvt-site-prod /run/ssl/wuvt-site-prod
ExecStartPre=/bin/sh -c "etcdctl --no-sync get /wuvt.vt.edu/config/wuvt-site-prod > /run/wuvt/wuvt-site-prod/config.json"
ExecStartPre=/bin/sh -c "etcdctl --no-sync get /wuvt.vt.edu/ssl/ca_cert > /run/wuvt/wuvt-site-prod/internalca.pem"
ExecStartPre=/bin/sh -c "etcdctl --no-sync get /wuvt.vt.edu/ssl/wuvt-site-prod/cert > /run/ssl/wuvt-site-prod/cert.pem"
ExecStartPre=/bin/sh -c "etcdctl --no-sync get /wuvt.vt.edu/ssl/wuvt-site-prod/privkey > /run/ssl/wuvt-site-prod/privkey.pem"
ExecStart=/usr/bin/docker run --name=wuvt-site-prod -p 8443:8443 --env=APP_CONFIG_PATH=/data/config/config.json --volume=/run/wuvt/wuvt-site-prod:/data/config --volume=/run/ssl/wuvt-site-prod:/data/ssl --volume=/media/shared-storage/wuvt-site-prod-media:/data/media --volume=/usr/share/zoneinfo/America/New_York:/etc/localtime --dns=192.168.0.243 --dns=192.168.0.155 registry.wuvt.vt.edu/wuvt-site
ExecStop=/usr/bin/docker stop wuvt-site-prod
RestartSec=10
Restart=always

[X-Fleet]
Conflicts=wuvt-site-prod@*.service
MachineMetadata=shared-storage=yes
