[Unit]
Description=Update wuvt-site-am config
After=etcd2.service
Requires=etcd2.service
ConditionPathExists=/home/core/wuvt-am-data/config

[Service]
Environment="ETCDCTL_CERT_FILE=/etc/ssl/etcd/%H.pem"
Environment="ETCDCTL_KEY_FILE=/etc/ssl/etcd/%H-key.pem"
Environment="ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem"
ExecStart=/usr/bin/sh -c "\
    while true; do \
          /usr/bin/echo '{\"database_url\": \"'$(/usr/bin/etcdctl get /services/postgres/postgres)'\"' > /home/core/wuvt-am-data/config/services.json; \
          /usr/bin/echo ',\"redis_url\": \"'$(/usr/bin/etcdctl get /services/redis/wuvt-site-am)'\"}' >> /home/core/wuvt-am-data/config/services.json; \
          /usr/bin/etcdctl watch --recursive /services; \
    done"

[X-Fleet]
Global=true
