[Unit]
Description=Announce wuvt-site-redis-am
BindsTo=wuvt-site-redis-am.service
After=wuvt-site-redis-am.service

[Service]
Environment="ETCDCTL_CERT_FILE=/etc/ssl/etcd/%H.pem"
Environment="ETCDCTL_KEY_FILE=/etc/ssl/etcd/%H-key.pem"
Environment="ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem"
ExecStart=/bin/sh -c "while true; do etcdctl set /services/redis/wuvt-site-am 'redis://'$(docker inspect wuvt-site-redis-am | jq -r '.[0].NetworkSettings.IPAddress')':6379' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/redis/wuvt-site-am

[X-Fleet]
MachineOf=wuvt-site-redis-am.service
