[Unit]
Requires=flanneld.service
After=flanneld.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill wuvt-site-redis-prod
ExecStartPre=-/usr/bin/docker rm wuvt-site-redis-prod
ExecStart=/usr/bin/docker run --name wuvt-site-redis-prod -v /home/core/wuvt-site-redis-prod-data:/data redis
ExecStop=/usr/bin/docker stop wuvt-site-redis-prod
Restart=always

[X-Fleet]
MachineID=e1a9b18fc91245ca93b2b4ca28793712
